@mixin boxShadow($params) {
    box-shadow: $params;
}

$shadow-card: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
$shadow-card-img: 0 10px 30px 0 rgba(63, 100, 152, 0.19);
$shadow-menu: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
$shadow-btn: 0 5px 10px 0 rgba(0, 0, 0, 0.16),
0 -10px 10px 0 rgba(255, 255, 255, 0.16);
