// Setup the theme colors in here and give it a logic name

$bg-white: #fff;
$color-white: #fff;

$main-bg: #233B4C;
$main-color: #0071bc;

$second-bg: #56B9B0;
$second-color: #56B9B0;

$third-bg: #29ABE2;
$third-color: #29ABE2;

$color-text: #233B4C;

$footer-bg: #233B4C;
$footer-company: #233B4C;

$grey: #5a759a;
$lightGrey: #F8F8F8;