footer {
  padding-top: 35px;
  position: relative;
  background-color: #233B4C;
  border-top: 2px solid #F8F8F8;
  @media all and (max-width: $lg) {
    margin-top: 40px;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    background: url(../assets/img/png/footer.png);
    background-repeat: no-repeat;
    background-position: right center;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }

  background-color: $main-bg;
  color: $color-white;

  a {
    text-decoration: none;
    color: $color-white;

    &.nav-link {
      padding: 0;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .navbar-brand {
    display: flex;
  }

  .footer-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    @media all and (max-width: $lg) {
      width: 90%;
    }
  }

  .social-icons {
    font-size: 1.5rem;
    a {
      padding: 5px;
    }
  }
  .legal-footer-links {
    .company-links {
      padding: 5px;
    }
  }
  #footer-nav-contact {
    a {
      padding: 5px;
    }
  }
}