
$defaultFontSize: 1rem;
$defaultFontWeight: 400;

@mixin primaryFont($size: $defaultFontSize , $weight: $defaultFontWeight) {
    font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: $size;
    font-weight: $weight;
    line-height: 35px;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include primaryFont($defaultFontSize,$defaultFontWeight);
    line-height: 1.33;
    color: $color-text;
    background-color: $bg-white;

    p {
        color: $color-text;
        word-wrap: break-word;
        word-break: break-word;
        @include primaryFont(1rem, 400);
    }
}

h1,h2,h3,h4,h5,em {
    color: $color-text;
    span {
        color: $grey;
        font-size: inherit;
        font-weight: inherit;
    }
}

h1 {
    @include primaryFont(42px , 700);
    line-height: 56px;
}
h2 {
    @include primaryFont(34px , 700);
    line-height: 46px;
}
h3 {
    @include primaryFont(28px , 600);
    line-height: 38px;
}
h4 {
    @include primaryFont(24px , 600);
    line-height: 34px;
}
h5 {
    @include primaryFont(18px , 600);
    line-height: 28px;
}
strong {
    color: $main-color;
    font-weight: 700;
}
a {
    color: $main-color;
    text-decoration: underline;
    @include transition(.2s);

    &:hover {
        color: $third-color;
    }
}
span {
    @include primaryFont();
    color: #958f9a;
}

@media all and (max-width: $lg) {
    h1 {
        @include primaryFont(35px , 700);
        line-height: 47px;
    }
    h2 {
        @include primaryFont(30px , 700);
        line-height: 42px;
    }
    h3 {
        @include primaryFont(24px , 600);
        line-height: 32px;
    }
    h4 {
        @include primaryFont(20px , 600);
        line-height: 30px;
    }
    h5 {
        @include primaryFont(18px , 600);
        line-height: 28px;
    }
    a {
        font-size: 18px !important;
    }
}