.img-wrapper {
    position: relative;
    overflow: hidden;
    //padding-bottom: 56.2%;
    padding-bottom: calc(100% / 3);
    max-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.lazyblock-image {

    &-fullwidth {
        width: 100%;
        position: absolute;
        object-fit: cover;
        transform: translate(0 , -10%);
    }
}
