.lazyblock-meps {
  .card {
    border: none;
  }
  .card-image {
    img {
      max-width: 300px;
    }
  }
  @media all and (max-width: $lg) {
    .col {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}