.lazyblock-section {
    &-white {
        background-color: $main-bg;
    }
    &-grey {
        background-color: $second-bg;
    }
}

.lazyblock-section {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
    @media all and (max-width: $md) {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }
    div {
        ~ .lazyblock-heading-1 {
            h1 {
                letter-spacing: 1px;
            }
        }
        ~ .lazyblock-content {
            p {
                @include primaryFont(1.22rem , 400);
                line-height: 1.6;
                margin-top: 0;
            }
        }
    }
}
