.lazyblock-separator > div{
    display: none;
    background: url("../assets/img/jpg/subscription_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @media all and (min-width: $lg) {
        display: block;
    }
}
