.lazyblock-subscribe-form {
  background: url("../assets/img/jpg/subscription_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  h2, h3, h4 {
    color: $color-white;
  }
  h4 {
    font-weight: 400;
  }
}